<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        
        <a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/empresa.jpeg" alt="">
          <div class="item-meta">
            <h2>Tostadadas Vallunas</h2>
            <p>Branding</p>
          </div></a>
          
          
          <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/segundo.jpeg" alt="">
          <div class="item-meta">
            <h2>Hamburguesa</h2>
            <p>Unidad</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/tercera.jpeg" alt="">
          <div class="item-meta">
            <h2>Hamburguesa</h2>
            <p>Doble</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/cuarta.jpeg" alt="">
          <div class="item-meta">
            <h2>Hamburguesa Y Malteada</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/quinta.jpeg" alt="">
          <div class="item-meta">
            <h2>Pizza</h2>
            <p>Familiar</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/sexta-6.jpeg" alt="">
          <div class="item-meta">
            <h2>Gentrify artisan</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/septima.jpeg" alt="">
          <div class="item-meta">
            <h2>Helado</h2>
            <p>Muchos sabores</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/oactava.jpeg" alt="">
          <div class="item-meta">
            <h2>Helado</h2>
            <p>Muchos Sabores</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/novena.jpeg" alt="">
          <div class="item-meta">
            <h2>Gentrify pork</h2>
            <p>Branding</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/decima.jpeg" alt="">
          <div class="item-meta">
            <h2>Waistcoat ugh</h2>
            <p>UI/UX</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/once.jpeg" alt="">
          <div class="item-meta">
            <h2>Deep v kogi</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/doce.jpeg" alt="">
          <div class="item-meta">
            <h2>Venmo trust</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/trece.jpeg" alt="">
          <div class="item-meta">
            <h2>Venmo trust</h2>
            <p>Ui/UX</p>
          </div></a>
      </div>
    </section>
